.home-front-sec {
    padding: 34px 0 40px 0;
}

.home-front-sec__baner {
    width: 100%;
    display: block;
    border: 1px solid #B7B7B7;
    margin-bottom: 48px;
}

.home-front-sec__text1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #212529;

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: #212529;
        margin-bottom: 28px;
    }
}

.home-front-sec__text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    width: calc(100%);
    padding-left: calc(33.333% + 10px);
    /* 2 */

    color: #212529;

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */


        /* 2 */
        margin-bottom: 20px;
        color: #212529;
    }

}

.home-posts-sec {
    padding-bottom: 100px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.home-posts-sec__left {
    width: calc(33.333% - 10px);
}

.home-posts-sec__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(66.666% - 10px);
    justify-content: space-between;
}

.home-posts-sec__element {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background: #F9F9F9;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 430px;
}

.home-posts-sec__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    text-transform: uppercase;
    /* 1 */
    border: 1px solid #4EABE9;
    max-width: 290px;
    color: #4EABE9;
    padding-left: 15px;
}

.home-posts-sec__img {
    width: 84px;
    height: 84px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.home-posts-sec__title-element {
    padding-right: 75px;
    padding-top: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 50px;
    /* or 29px */
    /* 2 */
    color: #212529;
}

.home-posts-sec__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    display: flex;
    align-items: flex-end;
    /* 4 */
    color: #7B7B7B;
}

@media only screen and (max-width: 1250px) {
    .home-front-sec__text2 {
        width: 100%;
        padding-left: 0;
    }

    .home-posts-sec .container {
        flex-wrap: wrap;
    }

    .home-posts-sec__wrapper {
        width: 100%;
    }

    .home-posts-sec__element {
        min-height: 0;
    }

    .home-posts-sec__left {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .home-posts-sec__title {
        width: 100%;
    }

    .home-posts-sec {
        padding-bottom: 60px;
    }

    .home-front-sec {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .home-front-sec__text1 {
        p {
            font-size: 19px;
            margin-bottom: 22px;
        }
    }

    .home-front-sec__text2 {
        p {
            font-size: 14px;
        }
    }

    .home-front-sec__baner {
        margin-bottom: 22px;
    }

    .home-front-sec {
        padding-top: 40px;
    }

    .home-posts-sec__title-element {
        padding-right: 0;
        font-size: 19px;
    }
}

@media only screen and (max-width: 750px) {
    .home-front-sec {
        padding-bottom: 20px;
    }

    .home-posts-sec__title {
        font-size: 16px;
        width: 100%;
        max-width: 100%;
    }

    .home-posts-sec__left {
        width: 100%;
    }

    .home-posts-sec__element {
        width: 100%;
        min-height: 337px;
    }

    .home-posts-sec__img {
        width: 58px;
        height: 58px;
    }

    .home-posts-sec__subtitle {
        font-size: 14px;
    }

    .home-posts-sec__title-element {
        padding-bottom: 40px;
    }
}